* {
  padding: 0;
  margin: 0;
  font-family: "popins", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff004f;
  --text-color: #fff;
  --background-color: black;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}
.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.page {
  padding-top: 70px;
  padding-bottom: 80px;
  width: 100vw;
  height: max-content;
}
#header.page {
  height: 100vh;
}
#contact.page {
  padding-bottom: 0;
}

.container {
  padding: 10px 10%;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--text-color);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 4;
  user-select: none;
}
.logo{
  display: flex;
  align-items:end;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}
.logo span{
  color: var(--primary-color);
}
nav ul li {
  display: inline-block;
  list-style: none;
  padding: 7px 20px;
  position: relative;
}
nav ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: backdrop-filter 0.5s;
  transition: background-color 0.5s;
  backdrop-filter: none;
}
nav ul li:hover::before {
  background-color: rgba(255, 255, 255, 0.313);
  backdrop-filter: blur(5px);
}
nav ul li a {
  color: var(--text-color);
  font-size: 18px;
  text-decoration: none;
  position: relative;
  transition: color 0.5s;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

div ul li a:hover {
  color: #050505;
}
div ul li a {
  color: var(--text-color);
  font-size: 18px;
  text-decoration: none;
  position: relative;
  transition: color 0.5s;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}
.header-text h1 span {
  color: var(--primary-color);
}
::-webkit-scrollbar {
  background-color: var(--background-color);
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 7%;
}
.type-writer {
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
.text {
  letter-spacing: 5px;
  margin: 0;
  font-size: 60px;
  border-right: 5px solid var(--primary-color);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing-start 3s infinite alternate,
    cursor 0.4s step-end infinite alternate;
  transform: translateZ(0);
  will-change: animation;
}
/* cursor blinking */
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}
/* typing effect */
@keyframes typing-start {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/*------------------about--------------------*/
#about {
  color: #ababab;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-left {
  flex-basis: 35%;
  overflow: hidden;
}
.about-col-left img {
  width: 100%;
  border-radius: 15px;
  transform: scale(1.5);
}
.about-col-right {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
}
.about-col-right p span {
  color: var(--primary-color);
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links:hover::after {
  width: 100%;
}
.active-link::after {
  content: "";
  width: 50%;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: var(--primary-color);
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.active-tab {
  display: block;
}
/*----------------contact-----------------------------*/
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left p {
  margin-top: 30px;
}
.contact-left p i {
  color: var(--primary-color);
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
  margin-bottom: 30px;
}
.social-icons a {
  font-size: 30px;
  text-decoration: none;
  color: #ababab;
  margin-right: 15px;
  display: inline-block;
  transition: color 0.5s;
  transition: transform 0.4s;
}
.social-icons a:hover {
  color: var(--primary-color);
  transform: translateY(-5px);
}
.btn {
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: #050505;
  color: var(--primary-color);
  display: inline-block;
  padding: 14px 30px;
  transition: all 0.5s;
}
.btn:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 15px 31px;
}
.contact-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: 0;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: var(--text-color);
  font-size: 18px;
  border-radius: 6px;
}
form .btn {
  padding: 15px 60px;
  font-size: 18px;
}
form .btn:hover {
  padding: 16px 61px;
  cursor: pointer;
}
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
}
.copyright i {
  color: var(--primary-color);
}
#contact {
  position: relative;
}
/*-----------porfolio-------------*/
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 30px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-size: cover;
}
.more {
  display: block;
}
.nomore {
  display: none;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), var(--primary-color));
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  background: var(--text-color);
  line-height: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
#portfolio a.btn {
  margin-left: 45%;
  margin-top: 20px;
}
#portfolio a.btn:hover {
  cursor: pointer;
}
.nav-mobile-vue {
  display: none;
}

/*-----responsive--------*/

@media screen and (max-width: 768px) {
  .header-text h1 {
    font-size: 35px;
  }
  .text {
    font-size: 25px !important;
  }
  .type-writer {
    align-items: center;
  }
  html {
    scroll-padding-top: 20px;
  }
  .copyright {
    position: fixed;
    padding: 10px 0;
    margin-top: 5px;
    bottom: 70px;
  }
  form {
    margin-bottom: 100px;
  }
  .nav-mobile-vue ul li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .nav-mobile-vue ul li a p{
    margin-top: 10px !important;
    font-size: small !important;
    filter: brightness(0.5);
    color: var(--text-color);
  }
  .nav-mobile-vue {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--background-color);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.75);
    z-index: 4;
  }
  .nav-mobile-vue ul li {
    list-style: none;
  }
  .nav-mobile-vue i {
    color: rgb(51, 51, 51);
  }
  .nav-mobile-vue i,
  .nav-mobile-vue a {
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
  }
  .active-a {
    color: var(--primary-color) !important;
  }
  .nav-mobile-vue ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;
  }
  .nav-desktop-vue {
    display: none;
  }
  body {
    overflow-x: hidden;
  }
  .page {
    height: max-content;
    padding: unset;
    margin-bottom: 80px;
  }

  .header-text p {
    font-size: 25px;
  }
  .header-text {
    margin-top: 35vh;
  }
  #header {
    height: 100vh;
  }
  #about {
    font-size: 70%;
  }
  .about-col-left {
    flex-basis: 0%;
  }
  .about-col-left img {
    width: 0%;
  }
  #about .container {
    padding: 32% 5%;
  }
  #portfolio .container {
    padding: 5px 5%;
    margin-left: 10px;
    width: 80vw;
  }
  #portfolio a.btn {
    margin-left: 15%;
    margin-top: 20px;
  }
  .work-list {
    padding-left: 10%;
    padding-top: 10px;
  }
  .contact-left {
    flex-basis: 100%;
    padding-bottom: 10px;
  }
  .contact-right {
    flex-basis: 90%;
    padding-bottom: 10px;
  }
  .contact-left h1 {
    font-size: 45px;
  }
  .copyright {
    margin-top: 50px;
    position: absolute;
  }
}
