:root{
    --main-color: #101d25;
    --side-color:#31c98c;
    --secondside-color:#f4f5f3;
}
*{
    box-sizing: border-box;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: #101d25;
}
.tag{
    position: absolute;
    bottom: 10px;
    right: 40px;
    color: var(--side-color);
}
.cal-body{
    width: 320px;
    height: 600px;
    position: relative;
    background: var(--side-color);
    border-radius: 10px;
    overflow: hidden;
    
}
.display{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0px 20px;
    width: 100%;
    height: 42.5%;
    background:#f4f4f4;
}
.display .output{
    position: absolute;
    margin: 10px 0px;
    padding-left: 20px;
    padding-right: 10px;
    right: 0px;
    bottom: 80px;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-overflow:ellipsis;
    overflow: hidden;
}
.display .input{
    position: absolute;
    padding: 0;
    margin: 10px 0px;
    right: 10px;
    bottom: 160px;
    font-size: 30px;
    color:#565656;
}
.operators{
    position: absolute;
    bottom: 25px;
    left: 0;
    height: 53.33%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: var(--side-color);
}
.operators button{
    height: 80px;
    width: 80px;
    background: transparent;
    border: none;
    color: var(--secondside-color);
    transition: all 0.15s;
}
.operators button:hover{
    cursor: pointer;
    background:#2bae79;
}
.tools{
    position: absolute;
    bottom: 345px;
    right: 0;
    height: 13.33%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background: var(--side-color);
}
.tools button{
    height: 80px;
    width: 80px;
    background: transparent;
    border: none;
    color: var(--secondside-color);
    transition: all 0.15s;
}
.tools button:hover{
    cursor: pointer;
    background:#2bae79;
}
.operands{
    position: absolute;
    bottom: 25px;
    right: 0;
    height: 53.33%;
    width: 75%;
    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px ;
    background: var(--secondside-color);
    border-radius: 10px 0 0 0 ;
    overflow: hidden;
    -webkit-box-shadow: -10px -10px 21px -7px rgba(0,0,0,0.41); 
    box-shadow: -10px -10px 21px -7px rgba(0,0,0,0.41);
}
.operands button{
    height: 80px;
    width: 80px;
    background: transparent;
    border: none;
    transition: all 0.15s;

}
.operands button:hover{
    cursor: pointer;
    background: #cbcbcb;
}
#equal{
    background: #b2b2b2;
}
.menu{
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 26.67%;
    border: 1px solid var(--main-color);
    border-radius: 0 0 10px 10px;
    background: black;
    width: 100%;
    color: var(--secondside-color);
    overflow: hidden;
}
.close{
    bottom: -135px;
    transition: all 0.3s;
}
.open{
    bottom: 0;
    transition: all 0.3s;
}
.close span{
    display: block;
    transform: rotate(-90deg);
    font-size: 15px;
    transition: all 0.5s;
    position: absolute;
    top: 4px;
    left: 50%;
}
.open span{
    display: block;
    transform: rotate(90deg);
    margin-top: 4px;
    font-size: 15px;
    transition: all 0.5s;
    position: absolute;
    top: 4px;
    left: 50%;    
}
.close.menu:hover{
    cursor: pointer;
    bottom: -130px;
}
.open.menu .toggle:hover{
    cursor: pointer;
}

.menu .toggle{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
}
.keys-sup{
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 45px 45px 45px;
}
.keys-sup button{
    background: transparent;
    color: var(--secondside-color);
    border: none;
    font-size: 16px;
    transition: all 0.2s;
}
.keys-sup button:hover{
    background: rgb(24, 24, 24);
}


